name: practice_game
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter

  flame: ^1.34.0
  shared_preferences: ^2.2.2
  path_provider: ^2.1.1

  firebase_core: ^4.2.1
  firebase_database: ^12.1.2
  
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/levels.json
    - assets/global_highscores.json
